{% extends "admin/base_site.html" %}
{% load i18n admin_urls static djangocms_references_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module filtered" id="changelist">
    <div id="changelist-filter">
      <h2>{% trans "Filter" %}</h2>
      <h3>{% trans "By version state" %}</h3>
      <ul>
        <li{% if not draft_and_published %} class="selected"{% endif %}>
          <a href="?state=all" title="{% trans "All" %}">{% trans "All" %}</a>
        </li>
        <li{% if draft_and_published %} class="selected"{% endif %}>
          <a href="?state=draft_and_published" title="{% trans "Draft or published" %}">{% trans "Draft or published" %}</a>
        </li>
      </ul>
    </div>
    <div id="changelist-form">
      <div class="results">
        <table id="result_list">
          <thead>
            <tr>
              <th colspan="{{ extra_columns|length|add:3 }}"><strong>{% trans "Related objects" %}</strong></th>
            </tr>
            <tr>
              <th>{% trans "Title" %}</th>
              <th>{% trans "URL" %}</th>
              <th>{% trans "Content Type" %}</th>
              {% for column in extra_columns %}
              <th>{{ column.verbose_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for queryset in querysets %}
            {% for obj in queryset %}
            <tr>
              <td>{{ obj }}</td>
              <td>
                <a href="{% object_preview_url obj %}">{% object_preview_url obj %}</a>
              </td>
              <td>{% object_model obj %}</td>
              {% for column in extra_columns %}
              <td>{% extra_column obj column %}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          {% empty %}
            <tr>
              <td colspan="{{ extra_columns|length|add:3 }}">{% trans "There are no related objects" %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
