{% load i18n djangocms_references_tags %}
<div class="results">
    <table id="result_list">
      <thead>
        <tr>
          <th colspan="{{ extra_columns|length|add:3 }}"><strong>{% trans "Related objects" %}</strong></th>
        </tr>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "URL" %}</th>
          <th>{% trans "Content Type" %}</th>
          {% for column in extra_columns %}
          <th>{{ column.verbose_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for queryset in querysets %}
        {% for obj in queryset %}
        <tr>
          <td>{{ obj }}</td>
          <td>
            <a class="js-versioning-action js-versioning-close-sideframe" href="{% object_preview_url obj %}">{% object_preview_url obj %}</a>
          </td>
          <td>{% object_model obj %}</td>
          {% for column in extra_columns %}
          <td>{% extra_column obj column %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      {% empty %}
        <tr>
          <td colspan="{{ extra_columns|length|add:3 }}">{% trans "There are no related objects" %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
