{% extends "admin/base_site.html" %}
{% load i18n admin_urls static djangocms_references_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module filtered" id="changelist">
    <div id="changelist-filter">
      <h2>{% trans "Filter" %}</h2>
      <h3>{% trans "By version state" %}</h3>
      <ul>
      {% if selected_state == "all" %}
        <li class="selected">
      {% else %}
        <li>
      {% endif %}
          <a href="?state=all" title="{% trans "All" %}">{% trans "All" %}</a>
        </li>
          {% for key, val in version_states %}
              {% if selected_state == key %}
                <li class="selected">
              {% else %}
                <li>
              {% endif %}
              <a href="?state={{ key }}" title="{% trans  val  %}">{% trans val %}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
    <div id="changelist-form">
      {% include 'djangocms_references/references_table.html' %}
    </div>
  </div>
</div>
{% endblock %}
